package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.extension.plugins.pagination.Page;

import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {
    #if(!${config.templateConfig.disableCreateFunction})

    /**
     * 新增 $!{table.comment}
     *
     * @param ${table.entityNameLowerCamel} $!{table.comment}
     * @return id
     */
    Long create${table.entityName}(${table.entityName} ${table.entityNameLowerCamel});
    #end
    #if(!${config.templateConfig.disableUpdateFuncition})

    /**
     * 修改 $!{table.comment}
     *
     * @param ${table.entityNameLowerCamel} $!{table.comment}
     */
    void update${table.entityName}(${table.entityName} ${table.entityNameLowerCamel});
    #end
    #if(!${config.templateConfig.disableDeleteFunction})

    /**
     * 删除 $!{table.comment}
     *
     * @param id id
     */
    void delete${table.entityName}(Long id);
    #end
    #if(!${config.templateConfig.disableGetByIdFunction})

    /**
     * 根据id查询 $!{table.comment}
     *
     * @param id id
     * @return $!{table.comment}
     */
    ${table.entityName} get${table.entityName}ById(Long id);
    #end
    #if(!${config.templateConfig.disableGetListFunction})

    /**
     * 查询全部 $!{table.comment}
     *
     * @return $!{table.comment}集合
     */
    List<${table.entityName}> get${table.entityName}List();
    #end
    #if(!${config.templateConfig.disableGetPageFunction})

    /**
     * 分页查询 $!{table.comment}
     *
     * @param page 分页信息
     * @param ${table.entityNameLowerCamel} $!{table.comment}
     * @return Page<${table.entityName}>
     */
    Page<${table.entityName}> get${table.entityName}Page(Page<${table.entityName}> page, ${table.entityName} ${table.entityNameLowerCamel});
    #end

}
#end
